node_modules
.next
tsconfig.tsbuildinfo
proxy.js

# Environment variables
.env
.env.local
.env.*
.vercel


# Prisma generated client (generated at build time)
lib/generated/

# Editor directories
.vscode

# Ad-hoc & Backups
*.bak
*.copy
*.old
*.log
cookies.txt
=

# Local Keys & Secrets
openssl-secret.txt
openssl

# Test / Output Reports
*-test-report.*
otw-breakpoints/
otw-site-test/
