@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-otw-bg text-otw-text antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
